<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybuy.mapper.UserCollectionMapper">


    <resultMap id="collectionMap" type="userCollection" >
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <association property="product" column="productId" select="findProductById" javaType="product" />
    </resultMap>

    <select id="findProductById" parameterType="integer" resultType="product" >
        select * from `easybuy_product` where id = #{id}
    </select>

    <select id="findCollectionByUserId" resultMap="collectionMap" parameterType="integer" >
        select * from `easybuy_user_collection` where userId = #{userId}
    </select>

    <delete id="deleteCollectionByUser" parameterType="integer">
        delete from `easybuy_user_collection` where userId = #{userId}
    </delete>

    <insert id="insertCollection" parameterType="userCollection" >
        insert  into `easybuy_user_collection` values(null , #{userId} , #{product.id})
    </insert>

    <select id="findCollectionByUserIdAndProductId" resultMap="collectionMap">
        select * from  `easybuy_user_collection`  where userId = #{userId} and productId = #{productId}
    </select>

</mapper>